@import url("https://fonts.googleapis.com/css?family=Poetsen+One:regular&display=swap");
@import "reset.css";

#snow {
	display: block;
	background: url("../img/winter_bg.jpg") center / cover no-repeat;
	color: #fff;
	line-height: 1.3;
	width: 100vw;
	height: 100svh;
	overflow: hidden;
}
