@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");
@import "reset.css";

html,
body {
	height: 100%;
	width: 100%;
}
body {
	padding: 0.9375rem;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	line-height: 1.3;
	font-size: 0.875rem;
	background: url("../img/page_bg.jpg") right center / cover fixed no-repeat;
	> * {
		margin-block-end: 15px;
	}
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
span {
	color: rgb(255, 253, 148);
	word-break: break-all;
}
.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
	gap: 1.25rem;
}
h1 {
	font-size: 2.5rem;
	color: #ffefc2;
	text-align: center;
	&:not(:last-child) {
		margin-block-end: 1em;
	}
}
.card {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 590px;
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.3s;
	perspective: 1000px;
}
.card__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	transition: all 0.3s;
}
.card__task-img {
	width: 50%;
	aspect-ratio: 1;
	object-fit: contain;
}
.card__info-front,
.card__info-back {
	position: absolute;
	inset: 0;
	backface-visibility: hidden;
	transition: all 0.3s;
}
.card__inner {
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 1%;
	right: 1%;
	transform: translateY(-50%);
	text-align: center;
}
.card__inner > * {
	margin-block-end: 10px;
}
.card__inner > *:last-child {
	margin-block-end: 0px;
}
.card__info-back {
	background-color: rgba(9, 171, 147, 0.14);
	transform: rotateY(180deg);
}
.card__title {
	font-weight: 700;
	font-size: 20px;
	color: #61ffe2;
	text-shadow: 0px 0px 5px #000;
}
.card__text {
	font-size: 16px;
	color: #fcffb0;
	text-shadow: 0px 0px 5px #000;
}
.card:hover .card__info-back {
	transform: rotateY(0deg);
}
.card:hover .card__info-front {
	transform: rotateY(180deg);
}
table {
	border: 0.0625rem solid white;
	border-collapse: collapse;
	text-align: center;
}
th,
td {
	border: 0.0625rem solid white;
	padding: 0.3125rem;
}
ul {
	text-align: start;
	padding-inline-start: 1.25rem;
	li {
		list-style: disc;
	}
}